/models
/models/errors
/types
/node_modules
/examples/node_modules
/lib
/sdk
/funcs
/react-query
/mcp-server
/hooks
/index.*
/core.*
/bin
/cjs
/esm
/dist
/.tsbuildinfo
/.eslintcache
/.tshy
/.tshy-*
/__tests__
**/.speakeasy/temp/
**/.speakeasy/logs/
/.speakeasy/reports
.env.local
.env.*.local
node_modules/
dist/
.env
.DS_Store
.speakeasy/logs/
.speakeasy/temp/
